.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-container {
  display: flex;
  margin: 0 2rem;
}

.number-container__number {
  width: 6rem;
  height: 6rem;
  perspective-origin: 50% 50%;
  perspective: 18rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.75rem 0.75rem -0.75rem grey;

  font-size: 4rem;
  text-align: center;
  line-height: 6rem;
}

.number-container__number + .number-container__number {
  margin-left: 0.5rem;
}

.control {
  border-radius: 50%;
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  background-color: white;
  color: #808080;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;

  transition: transform 0.25s;
}

.control:hover,
.control:focus {
  /* background-color: #FBAB7E; */
  transform: scale(1.2)
}
